.home .hero .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(https://www.jhsph.edu/sebin/z/z/SARS-CoV-2-vaccine-820x440.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 0;
}

.hero {
  text-align: center;
}

.home .hero .textTransition h1 {
  display: inline;
  font-size: 5em;
  background-color: green;
  opacity: 0.8;
  padding: 0.01em;
  color: white;
}

.home .hero .ant-btn {
  margin-right: 12px;
  margin-top: 10px;
}
